html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

.bg-purple {
    color: white!important;
    background: linear-gradient(135deg, #37315e, rgb(64, 29, 186))!important;
}

.bg-pink {
    border-color: #da4167!important;
    background: linear-gradient(227deg, rgba(220, 92, 124, 1) 0%, rgba(218, 65, 103, 1) 100%)!important;
    color: white!important;
}

.bg-pinkdark {
    border-color: #c23a5c!important;
    background: linear-gradient(227deg, rgba(220, 92, 124, 1) 0%, rgba(218, 65, 103, 1) 100%)!important;
    color: white!important;
}

.side-navbar {
    width: 250px;
    height: 100%;
    position: fixed;
    margin-left: -300px;
    background-color: linear-gradient(135deg, #37315e, rgb(64, 29, 186))!important;
    transition: 0.5s;
    margin-top: 65px;
}

.nav-link:active,
.nav-link:focus,
.nav-link:hover {
    background-color: #ffffff26;
}

.my-container {
    transition: 0.4s;
}

.active-nav {
    margin-left: 0;
    margin-top: 60px;
}

.active-cont {
    margin-left: 185px;
}

#menu-btn {
    color: #fff;
}

.pp-3 {
    padding-left: 6% !important;
    margin-right: auto;
    margin-top: 60px;
}

.mbb-5 {
    margin-bottom: 60px !important;
}

.dash {
    margin-left: auto !important;
}

@media (min-width:767px) {}

@media (min-width: 1450px) {}

@media (max-width: 576px) {
    .side-navbar {
        margin-bottom: 5px !important;
        width: 10%;
        justify-content: center;
    }
    .mbb-5 {
        margin-bottom: 45px !important;
        width: 15%;
    }
    .active-cont {
        margin-left: 20px;
    }
}